.btn-perso{
    background-color: rgb(11, 250, 250);
    border-radius: 999999px;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    height: fit-content;
    transition: background-color 1s;
    animation: changing-color 5s infinit;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes changing-color{
    25%{
        background-color: red;
    }
    50%{
        background-color: green;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: violet;
    }
}

.btn-perso:hover{
    background-color: rgba(0, 255, 255, 0.452);
}

.btn2{
    background-color: bisque;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    height: fit-content;
}

.btn2:hover{
    background-color: rgba(226, 226, 43, 0.918);
}

.btn3{
    background-color: crimson;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    height: fit-content;
}

.btn3:hover{
    background-color: rgb(14, 39, 180);
}

.btn-first {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 25px;
    padding: 1px;
    width: 190px;
    height: 60px;
    color: #f1f1f1;
    cursor: pointer;
}
.btn-first2 {
    border: 2px solid #f1f1f1;
    outline: none;
    background: transparent;
    font-size: 15px;
    padding: 1px;
    width: 150px;
    height: 50px;
    color: #f1f1f1;
    cursor: pointer;
}