.slider{
    width: 700px;
    overflow: hidden;
    margin: 25px auto;
}
.slides{
    width: calc(700px * 6);
    animation: glisse 21s infinite;
}
.slide{
    float: left;
}
@keyframes glisse{
    0%{
        transform: translateX(0);  
    }
    7%{
        transform: translateX(0);  
    }
    17%{
        transform: translateX(-700px);  
    }
    23%{
        transform: translateX(-700px);  
    }
    33%{
        transform: translateX(-1400px);  
    }
    40%{
        transform: translateX(-1400px);  
    }
    50%{
        transform: translateX(-2100px); 
    }
    57%{
        transform: translateX(-2100px);  
    }
    69%{
        transform: translateX(-2800px);  
    }
    76%{
        transform: translateX(-2800px);  
    }
    86%{
        transform: translateX(-3500px);  
    }
    93%{
        transform: translateX(-3500px);  
    }
    100%{
        transform: translateX(0);  
    }
}

.slider2{
    width: 700px;
    overflow: hidden;
    margin: 0px;
}
.slides2{
    width: calc(700px * 9);
    animation: glisse 21s infinite;
}
.slide2{
    float: left;
}

@media (min-width: 300px){
    .slider{
        width: 250px;
        overflow: hidden;
        margin: 25px auto;
    }
    .slides{
        width: calc(250px * 6);
        animation: glisse 21s infinite;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0);  
        }
        7%{
            transform: translateX(0);  
        }
        17%{
            transform: translateX(-250px);  
        }
        23%{
            transform: translateX(-250px);  
        }
        33%{
            transform: translateX(-500px);  
        }
        40%{
            transform: translateX(-500px);  
        }
        50%{
            transform: translateX(-1000px); 
        }
        57%{
            transform: translateX(-1000px);  
        }
        69%{
            transform: translateX(-1500px);  
        }
        76%{
            transform: translateX(-1500px);  
        }
        86%{
            transform: translateX(-2000px);  
        }
        93%{
            transform: translateX(-2000px);  
        }
        100%{
            transform: translateX(0);  
        }
    }
}

@media (min-width: 640px){
    .slider{
        width: 500px;
        overflow: hidden;
        margin: 25px auto;
    }
    .slides{
        width: calc(500px * 6);
        animation: glisse 21s infinite;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0);  
        }
        7%{
            transform: translateX(0);  
        }
        17%{
            transform: translateX(-500px);  
        }
        23%{
            transform: translateX(-500px);  
        }
        33%{
            transform: translateX(-1000px);  
        }
        40%{
            transform: translateX(-1000px);  
        }
        50%{
            transform: translateX(-1500px); 
        }
        57%{
            transform: translateX(-1500px);  
        }
        69%{
            transform: translateX(-2000px);  
        }
        76%{
            transform: translateX(-2000px);  
        }
        86%{
            transform: translateX(-2500px);  
        }
        93%{
            transform: translateX(-2500px);  
        }
        100%{
            transform: translateX(0);  
        }
    }
}

@media (min-width: 1024px){
    .slider{
        width: 700px;
        overflow: hidden;
        margin: 25px auto;
    }
    .slides{
        width: calc(700px * 6);
        animation: glisse 21s infinite;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0);  
        }
        7%{
            transform: translateX(0);  
        }
        17%{
            transform: translateX(-700px);  
        }
        23%{
            transform: translateX(-700px);  
        }
        33%{
            transform: translateX(-1400px);  
        }
        40%{
            transform: translateX(-1400px);  
        }
        50%{
            transform: translateX(-2100px); 
        }
        57%{
            transform: translateX(-2100px);  
        }
        69%{
            transform: translateX(-2800px);  
        }
        76%{
            transform: translateX(-2800px);  
        }
        86%{
            transform: translateX(-3500px);  
        }
        93%{
            transform: translateX(-3500px);  
        }
        100%{
            transform: translateX(0);  
        }
    }
}

@media (min-width: 1250px){
    .slider{
        width: 700px;
        overflow: hidden;
        margin: 25px auto;
    }
    .slides{
        width: calc(700px * 6);
        animation: glisse 21s infinite;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0);  
        }
        7%{
            transform: translateX(0);  
        }
        17%{
            transform: translateX(-700px);  
        }
        23%{
            transform: translateX(-700px);  
        }
        33%{
            transform: translateX(-1400px);  
        }
        40%{
            transform: translateX(-1400px);  
        }
        50%{
            transform: translateX(-2100px); 
        }
        57%{
            transform: translateX(-2100px);  
        }
        69%{
            transform: translateX(-2800px);  
        }
        76%{
            transform: translateX(-2800px);  
        }
        86%{
            transform: translateX(-3500px);  
        }
        93%{
            transform: translateX(-3500px);  
        }
        100%{
            transform: translateX(0);  
        }
    }
}

@media (min-width: 300px){
    .slider2{
        width: 250px;
        overflow: hidden;
        margin: 25px auto;
    }
    .slides2{
        width: calc(250px * 9);
        animation: glisse 21s infinite;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0);  
        }
        7%{
            transform: translateX(0);  
        }
        17%{
            transform: translateX(-250px);  
        }
        23%{
            transform: translateX(-250px);  
        }
        33%{
            transform: translateX(-500px);  
        }
        40%{
            transform: translateX(-500px);  
        }
        50%{
            transform: translateX(-1000px); 
        }
        57%{
            transform: translateX(-1000px);  
        }
        69%{
            transform: translateX(-1500px);  
        }
        76%{
            transform: translateX(-1500px);  
        }
        86%{
            transform: translateX(-2000px);  
        }
        93%{
            transform: translateX(-2000px);  
        }
        100%{
            transform: translateX(0);  
        }
    }
}

@media (min-width: 640px){
    .slider2{
        width: 500px;
        overflow: hidden;
        margin: 25px auto;
    }
    .slides2{
        width: calc(500px * 9);
        animation: glisse 21s infinite;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0);  
        }
        7%{
            transform: translateX(0);  
        }
        17%{
            transform: translateX(-500px);  
        }
        23%{
            transform: translateX(-500px);  
        }
        33%{
            transform: translateX(-1000px);  
        }
        40%{
            transform: translateX(-1000px);  
        }
        50%{
            transform: translateX(-1500px); 
        }
        57%{
            transform: translateX(-1500px);  
        }
        69%{
            transform: translateX(-2000px);  
        }
        76%{
            transform: translateX(-2000px);  
        }
        86%{
            transform: translateX(-2500px);  
        }
        93%{
            transform: translateX(-2500px);  
        }
        100%{
            transform: translateX(0);  
        }
    }
}

@media (min-width: 1024px){
    .slider2{
        width: 700px;
        overflow: hidden;
        margin: 25px auto;
    }
    .slides2{
        width: calc(700px * 9);
        animation: glisse 21s infinite;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0);  
        }
        7%{
            transform: translateX(0);  
        }
        17%{
            transform: translateX(-700px);  
        }
        23%{
            transform: translateX(-700px);  
        }
        33%{
            transform: translateX(-1400px);  
        }
        40%{
            transform: translateX(-1400px);  
        }
        50%{
            transform: translateX(-2100px); 
        }
        57%{
            transform: translateX(-2100px);  
        }
        69%{
            transform: translateX(-2800px);  
        }
        76%{
            transform: translateX(-2800px);  
        }
        86%{
            transform: translateX(-3500px);  
        }
        93%{
            transform: translateX(-3500px);  
        }
        100%{
            transform: translateX(0);  
        }
    }
}

@media (min-width: 1250px){
    .slider2{
        width: 700px;
        overflow: hidden;
        margin: 25px auto;
    }
    .slides2{
        width: calc(700px * 9);
        animation: glisse 21s infinite;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0);  
        }
        7%{
            transform: translateX(0);  
        }
        17%{
            transform: translateX(-700px);  
        }
        23%{
            transform: translateX(-700px);  
        }
        33%{
            transform: translateX(-1400px);  
        }
        40%{
            transform: translateX(-1400px);  
        }
        50%{
            transform: translateX(-2100px); 
        }
        57%{
            transform: translateX(-2100px);  
        }
        69%{
            transform: translateX(-2800px);  
        }
        76%{
            transform: translateX(-2800px);  
        }
        86%{
            transform: translateX(-3500px);  
        }
        93%{
            transform: translateX(-3500px);  
        }
        100%{
            transform: translateX(0);  
        }
    }
}