.navbar-perso {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: gray;
    z-index: 10;
  }
  
  .navbar-perso .nav-title {
    font-weight: 700;
    padding: 0 1rem;
  }
  
  .navbar-perso .nav-links {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
  }
  
  .navbar-perso .nav-link {
    list-style: none;
  }